<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Security</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>


</head>
<body>

<div class="container">
    <nav th:insert="nav-bar::navbar"></nav>
</div>
<br><br><br>
<label  th:text="${url}">

</label>
<br><br><br>

<div class="container-fluid">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direcci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">1</td>
            <td th:text="${student.name}">Luis</td>
            <td th:text="${student.lastName}">Perez</td>
            <td th:text="${student.address}">ciudad</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
